<a href="https://colab.research.google.com/github/alickchoi/STAT5106-Lab/blob/main/Week_3_Tuple_List_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
# You can put the same things together, just like a potato chips jar
print([1, 24, 76])
print(['red', 'yellow', 'blue'])

[1, 24, 76]
['red', 'yellow', 'blue']

In [ ]:
# Also you can put different things together
print(['red', 24, 98.6])
print([ 1, [5, 6], 7])

['red', 24, 98.6]
[1, [5, 6], 7]

In [ ]:
# Empty List
print([])

[]

In [ ]:
# The for-loop example in lesson 1
# Dynamic EMail Sender
professors = ['Ben', 'Michael', 'Tony', 'Keith', 'Yau']

# import win32com.client as win32
# outlook = win32.Dispatch('outlook.application')
for professor in professors :
    # mail = outlook.CreateItem(0)
    # mail.To = f'{professor}@sta.cuhk.edu.hk'
    # mail.Subject = f'Happy Mooncake festival !!!'
    body = f'Happy Mooncake festival, {professor} !!!'
    print(body)
    # mail.Body = body
    # mail.Send()
print('Done!')

Happy Mooncake festival, Ben !!!
Happy Mooncake festival, Michael !!!
Happy Mooncake festival, Tony !!!
Happy Mooncake festival, Keith !!!
Happy Mooncake festival, Yau !!!
Done!

In [ ]:
print(professors[1])
print(len(professors))
print(range(len(professors)))

# You can use index i to loop the list
for i in range(len(professors)):
    body = f'Happy Mooncake festival, {professors[i]} !!!'
    print(body)

Michael
5
range(0, 5)
Happy Mooncake festival, Ben !!!
Happy Mooncake festival, Michael !!!
Happy Mooncake festival, Tony !!!
Happy Mooncake festival, Keith !!!
Happy Mooncake festival, Yau !!!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

### Some built-in functions for list

In [ ]:
# List sorting
professors.sort()
print(professors)

a = professors.sort()
print(a)

['Ben', 'Keith', 'Michael', 'Tony', 'Yau']
None

In [ ]:
# List reverse
professors.reverse()
print(professors)

['Yau', 'Tony', 'Michael', 'Keith', 'Ben']

In [ ]:
# List Concatenation
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Note: if you want vector addition
import numpy as np
vec_a = np.array([1,2,3])
vec_b = np.array([4,5,6])
vec_c = vec_a + vec_b
print(vec_c)

[5 7 9]

In [ ]:
# List Slicing
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])
print(len(t), max(t), min(t), sum(t), sum(t)/len(t))

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]
6 74 3 154 25.666666666666668

In [ ]:
# List as a container
my_gucci = []
# or my_gucci = list()
my_gucci.append('wallet')
my_gucci.append(400)
print(my_gucci)
my_gucci.append(['octopus', 100])
print(my_gucci)

['wallet', 400]
['wallet', 400, ['octopus', 100]]

In [ ]:
item = my_gucci.pop() # pop = 最後擺的那個
print(item)
print(my_gucci)

['octopus', 100]
['wallet', 400]

In [ ]:
# check element in the list
mark6_nos = [8, 13, 16, 21, 23, 49]
print(8 in mark6_nos, 20 in mark6_nos, 48 not in mark6_nos)

True False True

Reference: [Mark 6 website](https://bet.hkjc.com/marksix/index.aspx)

# Tuple

In [ ]:
# same read operation as List
professors = ['Ben', 'Michael', 'Tony', 'Keith', 'Yau']
professors_tuple = ('ben', 'Michael', 'Tony', 'Keith', 'Yau')
print(professors_tuple[2])
print(max(professors_tuple)) # 排序中細楷>大楷

Tony
ben

In [ ]:
print(professors)
professors[2] = 'Iris'
print(professors)

['Ben', 'Michael', 'Iris', 'Keith', 'Yau']
['Ben', 'Michael', 'Iris', 'Keith', 'Yau']

In [ ]:
# But Tuple cannot be revised
professors_tuple[2] = 'Iris'
print(professors_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# ERROR for the following
professors_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
professors_tuple.append('Remus')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
professors_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

Tuple is lighter, in functions

In [ ]:
type(professors), dir(professors)

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getstate__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [ ]:
professors.__sizeof__(), professors_tuple.__sizeof__()

(88, 64)

In [ ]:
type(professors_tuple), dir(professors_tuple)

(tuple,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__getstate__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'count',
  'index'])

In [ ]:
# multiple assignment
gbphkd , jpyhkd = 9.5 , 0.0582
print(jpyhkd)
print(gbphkd)

0.0582
9.5

In [ ]:
x, y = 123, 456
x, y = y, x
print(x, y)

456 123

Reference: [How to swap two numbers without using a temp variable?](https://www.geeksforgeeks.org/swap-two-numbers-without-using-temporary-variable/)

In [ ]:
# Comparison
print(
    (0, 1, 2) < (5, 1, 2)
    , (0, 1, 2000000) < (0, 3, 4)
    , ( 'Jones', 'Sally' ) < ('Jones', 'Sam')
    , ( 'Jones', 'Sally') > ('Adams', 'Sam')
)

True True True True

# Dictionary

Example: Currency

In [ ]:
dict_curr = {}
# or purse = dict()
dict_curr['GBP'] = 9.5
dict_curr['USD'] = 7.85
dict_curr['JPY'] = 0.0582
print(dict_curr)
print(dict_curr['JPY'])

{'GBP': 9.5, 'USD': 7.85, 'JPY': 0.0582}
0.0582

In [ ]:
dict_curr['GBP'] = 10
print(dict_curr)

{'GBP': 10, 'USD': 7.85, 'JPY': 0.0582}

In [ ]:
dict_curr = {'GBP': 9.5, 'USD': 7.85, 'JPY': 0.0582}
print(dict_curr)

{'GBP': 9.5, 'USD': 7.85, 'JPY': 0.0582}

Use Dictionary to write a switch function.

In [ ]:
def get_currency(curr):
    # Please rewrite the following
    if curr == 'GBP':
        return 9.5
    elif curr == 'USD':
        return 7.85
    elif curr == 'JPY':
        return 0.0582
    else:
        return None

def get_currency_dict(curr):
    # Please rewrite the following
    dict_curr = {'GBP': 9.5, 'USD': 7.85, 'JPY': 0.0582}
    if curr not in dict_curr: return None
    return dict_curr[curr]

In [ ]:
get_currency_dict('HKD')

In [ ]:
dict_curr.keys()

dict_keys(['GBP', 'USD', 'JPY'])

In [ ]:
dict_curr['HKD']

KeyError: 'HKD'

Example: Counting Alphabets

In [ ]:
wiki_str = 'Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains.'
wiki_str = wiki_str.lower()

dict_cnt = {}
for letter in wiki_str:
    dict_cnt[letter] += 1
print(dict_cnt)

KeyError: 'd'

In [ ]:
dict_cnt = {}
for letter in wiki_str:
    # if letter not in dict_cnt:
    #     dict_cnt[letter] = 1
    # else:
    #     dict_cnt[letter] += 1
    # Same result, but shorten by get function
    dict_cnt[letter] = dict_cnt.get(letter, 0) + 1
print(dict_cnt)

{'d': 16, 'a': 23, 't': 19, ' ': 36, 's': 22, 'c': 11, 'i': 17, 'e': 18, 'n': 17, 'r': 14, 'p': 6, 'l': 7, 'y': 4, 'f': 5, 'h': 4, 'u': 6, 'm': 6, 'o': 14, ',': 4, 'g': 5, 'x': 1, 'k': 2, 'w': 2, 'b': 1, '.': 1}

In [ ]:
print('b' in dict_cnt)
print('z' in dict_cnt)

True
False

In [ ]:
temp = list(dict_cnt.keys())

In [ ]:
temp.sort()

In [ ]:
temp

[' ',
 ',',
 '.',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w',
 'x',
 'y']

In [ ]:
print(16 in dict_cnt.values())

True

# Shorten Loops

Map

Example: store prices comparison

In [ ]:
store_pkshop = [10.00, 11.00, 12.34, 2.34]
store_wellcome = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store_pkshop, store_wellcome) # map = List晒出黎逐個比較
print(list(cheapest))
print(sum(list(cheapest)))

# Actually you can use numpy for vectorizing comparison later

[9.0, 11.0, 12.34, 2.01]
0

In [ ]:
cheapest

Lambda functions

In [ ]:
def wmin(x, y):
    return (min(x*2.0, y*3.0))
print(list(map(wmin, store_pkshop, store_wellcome)))
print(list(map(lambda x, y: min(x*2.0, y*3.0), store_pkshop, store_wellcome)))

[20.0, 22.0, 24.68, 4.68]
[20.0, 22.0, 24.68, 4.68]

List Comprehension

In [ ]:
my_list = []
for number in range(10):
    if number % 2 == 0:
        my_list.append(number)
print(my_list)

[0, 2, 4, 6, 8]

In [ ]:
my_list2 = [number for number in range(10) if number % 2 == 0]
print(my_list2)

[0, 2, 4, 6, 8]

Don't use for loop if looping a large list. <br>
Instead, use pandas or numpy.

In [ ]:
# Example again, for list comprehension
professors = ['Ben', 'Michael', 'Tony', 'Keith', 'Yau']
# for prof in professors :
#     print('Happy Halloween:',  prof)
[print('Happy Halloween:',  prof) for prof in professors]

Happy Halloween: Ben
Happy Halloween: Michael
Happy Halloween: Tony
Happy Halloween: Keith
Happy Halloween: Yau

[None, None, None, None, None]

In [ ]:
# Dictionary Comprehension
professors = ['Ben', 'Michael', 'Tony', 'Keith', 'Yau']
nchar_professors = {prof: len(prof) for prof in professors}
print(nchar_professors)

{'Ben': 3, 'Michael': 7, 'Tony': 4, 'Keith': 5, 'Yau': 3}